[Unit]
Description=Chia Plotter
After=lotus-mount-disk.service

[Service]
ExecStart=/usr/local/bin/chia-storage-server --config /etc/chia-storage-service.conf
Restart=always
RestartSec=10
MemoryAccounting=true
MemoryHigh=infinity
MemoryMax=infinity
Nice=-20
LimitNICE=-20
LimitNOFILE=1048576:1048576
LimitCORE=infinity
LimitNPROC=819200:1048576
IOWeight=9999
CPUWeight=1000
LimitCORE=1024
Delegate=yes
User=root

[Install]
WantedBy=multi-user.target